.profile {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 12vh;
  background-color: white;
}

@media (max-width: 1024px) {
  .profile {
    margin-top: 10vh;
    width: 90vw;
  }
}

@media (max-width: 768px) {
  .profile {
    width: 100%;
  }
}
